#
# Files and directories ignored by `docker build` and are not copied into
# images.
#
# See https://docs.docker.com/engine/reference/builder/#dockerignore-file
#

.dockerignore
.DS_Store
*.swp
node_modules
*.md
